<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://flimmer.io/tizen" version="0.1.0" viewmodes="maximized">
    <tizen:application id="FlmrMedia0.Flimmer" package="FlmrMedia0" required_version="3.0"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.normal.1080.1920"/>
    <icon src="icon.png"/>
    <name>Flimmer</name>
    <author href="https://github.com/Bavarianator/flimmer">Flimmer</author>
    <license href="https://www.gnu.org/licenses/agpl-3.0.html">AGPL-3.0</license>
    <!-- Oberfläche kommt vom eigenen Server im Heimnetz -->
    <access origin="*" subdomains="true"/>
    <tizen:allow-navigation>*</tizen:allow-navigation>
    <tizen:content-security-policy>default-src * 'unsafe-inline' 'unsafe-eval' data: blob:</tizen:content-security-policy>
    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice"/>
    <tizen:profile name="tv-samsung"/>
    <tizen:setting screen-orientation="landscape" context-menu="disable" background-support="disable" encryption="disable" install-location="auto" hwkey-event="enable"/>
</widget>
